<html>

<head><title>{{ .Title }}</title></head> 

<body>
{{if eq .Visning "navne"}}
{{range $bruger := .Results }}

    {{$bruger.Name}}
    {{$bruger.Kortnr}}
    <br>
    {{end}}
{{end}}


{{if eq .Visning "roles"}}
{{range $bruger := .ResultsAllRoles }}

    {{$bruger.Name}}
    <br>
    {{end}}
{{end}}
</body>
</html>